body {
    background-color: #242729;
    color: #ffffff;
    background-image: url("assets/drone.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.mainDiv {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.droneHolder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.droneHolder img {
    width: 100%;
    height: 100%;
}

.mainText {
    background-color: #242729;
    border-radius: 10px;
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 25%;
    right: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.mainText .homeButton {
    font-size: 25px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: -30px;
}

.mainText .homeButton a:linked {
    color: #ffffff;
}

.mainText .homeButton a:visited {
    color: #ffffff;
}

.mainText .Header {
    text-align: center;
    font-size: 25px;
}

.mainText .Introduction {
    font-size: 20px;
    margin: auto 3%;
}

.mainText .Section1Header {
    margin: auto 6%
}

.mainText .Section1Text {
    margin: auto 3%;
}
